$accentColor: #6eeb83; // Using a SCSS variable for easy access of the color.
$boxShadowValue: 0 5px 10px 1px rgba(0,0,0,.1), 0 0px 10px 1px rgba(0,0,0,.02);
$hoverBoxShadowValue: 0 5px 10px 1px rgba(0,0,0,.2), 0 0px 10px 1px rgba(0,0,0,.04);


#home {

    /*
        Using 'display: grid' with 'place-items: center' to vertically and
        horizontally center all child elements. Using grid may slightly impact
        load times but for this little app it will not matter.
    */

    display: grid;
    place-items: center;
    height: 100vh;
    #todo-header {
        text-align: center; // Keep most* child elements in the center of the this element.
        #todo-title {
            color: $accentColor;
            font-size: 60px;
        }
        #todo-new {
            max-width: 600px; // Restrict the width of the child elements when using display-based units (vw, vh etc.)
            & > * { // Giving each of the child elements a specific style - In this case setting a border-radius
                border-radius: 5px; 
            }
            #todo-input {
                border: none; // Hide default border-styling
                width: calc(600px * 0.7); // Calculate 70% of the 600px max width
                min-height: 50px; max-height: 50px;
                margin-right: 20px;
                padding: 0 20px;
                display: inline-block;  // Make the input element inline (Already a block element)
                vertical-align: middle; // so that they can show inline with each other
                box-shadow: $boxShadowValue;
                font: {
                    family: 'Inter', sans-serif;
                    size: 15px;
                }
            }
            #todo-add {
                padding: 15px 20px; // Ensure that the height is the same as the input by using padding
                color: #ffffff; // I prefer to stick with HEX codes when doing non-transparent colors
                background: $accentColor;
                display: inline-block;  
                vertical-align: middle;
                box-shadow: $boxShadowValue;
                cursor: pointer;
                transition: transform ease-in-out .3s, box-shadow ease-in-out .2s;
                font: {
                    family: 'Metropolis', sans-serif;
                }
                &:hover {
                    box-shadow: $hoverBoxShadowValue;
                    // transform: translateY(-3px);
                }
            }
        }
    }
}